.frame {
    width:1200px;
    border: ăpx solid;
    height:1000px;
    margin:auto;
    background-image:url('https://cdn.pixabay.com/photo/2021/11/14/20/08/background-6795626_960_720.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.poster {
    width:1200px;
    height:600px;
    margin-top:0px;
}

.header {
    display:flex;
    flex-direction: row;
}

.lheader i {
    font-size:50px;
    color:#FFFFFF;
}

.lheader h3 {
    color:#FFFFFF;
}

.rheader {
    width:300px;
    font-family:'Times New Roman', Times, serif;
    padding-top:43px;
    padding-bottom: 43px;
    display:flex;
    flex-direction: row;
    font-size: 10px;
    letter-spacing: 5px;
    color:darkgray;
}
.lheader {
    width:700px;
    display:flex;
    flex-direction: row;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left:70px;
}


.menu ul{
    display:flex;
    flex-direction: row;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color:gainsboro;
    border-collapse:collapse;
    margin-bottom: 2px;
    padding-left:80px;

}
.menu ul li{
    list-style-type: none; 
    border-right:0px solid;
    border-left:0px solid;
    border-top:0px solid;
    border-collapse:collapse;
    border-color:gainsboro;
    padding-top:10px;
    width:120px;
    text-align: center;
}

.menu ul li:hover {
    border-top-color:darkorange;
    border-left-color:darkorange;
    border-right-color:darkorange;
    background-color:darkorange;
}
.menu ul li a{
    text-decoration: none; 
    color:#FFFFFF;
    
      
}

.menu ul li a span {
    text-align: center;
    color:darkgray;
    font-size:13px;
}

.search {
    width:50px;
    height:30px;
    display:flex;
    flex-direction: row;
    margin:auto;
    margin-left:10px;

    
}
.button {
    border-color: #FFFFFF;
    background-color:transparent;
    border:none;
    color:#FFFFFF;
}

.search input {
    color: darkgrey;
    border-color: gainsboro;
    outline:none;
    outline:#FFFFFF;
}
.clbd {
    border: 1px solid #ccc;
}

.background {
    width:1200px;
    height:500px;
    text-align: center;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    background-image:url('https://png.pngtree.com/thumb_back/fw800/background/20230513/pngtree-handson-laptop-a-man-typing-and-surfing-the-web-on-an-office-desk-photo-image_52039656.jpg')
}



.inf {
    padding-top:100px;
   
    
}
.inf h2 {
    color:404040;
    text-shadow: 1px 1px 10px aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    
    
}

.inf ul {
    display:flex;
    flex-direction: row;
    margin-left:350px;
    background-color: rgba(255,255,255,0.7);
    width:450px;
    box-shadow: 0px 0px 100px 0px rgba(255,255,255,0.5);
    border-radius: 10px;
}
.inf ul li {
    list-style-type: none;
    padding:20px;
    
}
.inf ul li:nth-child(1) a:hover {
    color:blue;
    
}
.inf ul li:nth-child(2) a:hover {
    color:#FF7F50;
    
}
.inf ul li:nth-child(3) a:hover {
    color:#00BFFF;
    
}
.inf ul li a {
    text-decoration: none;
    color:black;
    font-size: 20px;
}
.inf ul li a i {
 
}


